<div class="wrapper">

  <%= render 'admin/partials/header' %>

  <%= render 'admin/partials/sidebar' %>

  <div style="min-height: 900px" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Vehicles</h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <%= render 'admin/partials/notices' %>

      <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title"></h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">

                  <div class="input-group-btn">
                    <%= link_to new_admin_vehicle_path, class: 'btn btn-default' do %>
                        <i class="fa fa-plus"></i> New Vehicle
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Reg. Number</th>
                  <th>Make</th>
                  <th>Model</th>
                  <th>Year</th>
                  <th>Image</th>
                  <th class="text-center">Action</th>
                </tr>
                <% if @vehicles.each do |vehicle| %>
                  <tr>
                    <td style="height: 65px"><%= vehicle.id %></td>
                    <td><%= link_to vehicle.name, edit_admin_vehicle_path(vehicle) %></td>
                    <td><%= vehicle.registration_number %></td>
                    <td><%= vehicle.make %></td>
                    <td><%= vehicle.model %></td>
                    <td><%= vehicle.year %></td>
                    <td>
                      <% if vehicle.image %>
                          <%= image_tag vehicle.image[:thumb], :height => 50 %>
                      <% end %>
                    </td>
                    <td class="text-center">
                      <%= link_to edit_admin_vehicle_path(vehicle), class: 'btn btn-sm' do %>
                          <i class="fa fa-edit"></i>
                      <% end %>
                      <%= link_to admin_vehicle_path(vehicle), class: 'btn btn-sm', method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <i class="fa fa-remove"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end.empty? %>
                    <tr><td colspan="5">No records.</td></tr>
                <% end %>

              </table>
            </div>
            <!-- /.box-body -->

            <div class="pull-right">
              <%= will_paginate @vehicles %>
            </div>

          </div>
          <!-- /.box -->
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%= render 'admin/partials/footer' %>

</div>
<!-- ./wrapper -->
