<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="<%= current_class?(admin_dashboard_path) %>">
        <a href="/admin/dashboard">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="<%= set_active_class('vehicles') %>">
        <a href="/admin/vehicles">
          <i class="fa fa-car"></i>
          <span>Vehicles</span>
        </a>
      </li>
      <li class="<%= set_active_class('service_companies') %>">
      <a href="/admin/service_companies">
        <i class="fa fa-home"></i>
        <span>Service Companies</span>
      </a>
      </li>
      <li class="<%= set_active_class('service_types') %>">
        <a href="/admin/service_types">
          <i class="fa fa-wrench"></i>
          <span>Service Types</span>
        </a>
      </li>
      <li class="<%= set_active_class('users') %>">
        <a href="/admin/users">
          <i class="fa fa-users"></i>
          <span>Users</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>