<%= form_with(model: [:admin, service_company], local: true) do |form| %>
  <% if service_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_company.errors.count, "error") %> prohibited this service_company from being saved:</h2>

      <ul>
      <% service_company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :service_company_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :service_company_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
