  <div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html"><b>Admin</b>MG</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <%= render 'admin/partials/notices' %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group has-feedback">
          <!--<input type="email" class="form-control" placeholder="Email">-->
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class:'form-control', placeholder: 'Email' %>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <%= f.password_field :password, autocomplete: 'off', class:'form-control', placeholder: 'Password' %>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <% if devise_mapping.rememberable? -%>
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <%= f.check_box :remember_me %> Remember Me
              </label>
            </div>
          </div>
          <% end -%>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      <% end %>

    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->

