<div class="row">
  <div class="col-xs-8">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Vehicle: #<%= @vehicle.id %> (<%= link_to @vehicle.name, edit_admin_vehicle_path(@vehicle) %>)</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <table class="table table-condensed">
          <tbody>
          <tr>
            <th style="width: 200px">Registration Number</th>
            <td><%= @vehicle.registration_number %></td>
            <% if @vehicle.image %>
                <td rowspan="5" style="width: 200px">
                  <%= image_tag @vehicle.image[:thumb] %>
                </td>
            <% end %>
          </tr>
          <tr>
            <th>Make</th>
            <td><%= @vehicle.make %></td>
          </tr>
          <tr>
            <th>Model</th>
            <td><%= @vehicle.model %></td>
          </tr>
          <tr>
            <th>Year</th>
            <td><%= @vehicle.year %></td>
          </tr>
          <tr>
            <th>Colour</th>
            <td><%= @vehicle.colour %></td>
          </tr>
          <tr>
            <th>Details</th>
            <td><%= @vehicle.details %></td>
          </tr>
          </tbody></table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>