<div class="wrapper">

  <%= render 'admin/partials/header' %>

  <%= render 'admin/partials/sidebar' %>

  <div style="min-height: 900px" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Editing Service Record</h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <%= render 'admin/partials/notices' %>

      <%= render 'admin/service_records/vehicle_details' %>

      <%= render 'form', service_record: @service_record %>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%= render 'admin/partials/footer' %>

</div>
<!-- ./wrapper -->
