<!DOCTYPE html>
<html>
  <head>
    <title>Mygarage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">

      <% if admin_user_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_admin_user_session_path, method: :delete) %>
          </li>
      <% else %>
          <li>
            <%= link_to('Login', new_admin_user_session_path)  %>
          </li>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
